<section class="">
  <nav
    class="navbar my-3 navbar-expand-lg bg-dark w-50 mx-auto rounded-pill navbar-dark"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              routerLink="Seafood"
              routerLinkActive="bg-info text-black rounded-pill"
              class="nav-link bg-info text-black rounded-pill"
              >Seafood</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="Pasta"
              routerLinkActive="bg-info text-black rounded-pill"
              class="nav-link"
              >Pasta</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="Breakfast"
              routerLinkActive="bg-info text-black rounded-pill"
              class="nav-link"
              >Breakfast</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</section>
