<section class="">
  <h1>Hello from Team Component</h1>

  <div class="content">
    <h5 class="text-center">
      Hi I'm the Team Parent Component
      <i class="fa-solid fa-hand text-info"></i> and I Have A Child Called
      Supervisor 5aaafoooo Minooooooooo <i class="fa-solid fa-ghost"></i>
    </h5>

    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam ullam,
      tempore explicabo praesentium repellat commodi cumque nihil est modi ipsam
      itaque doloremque, assumenda dolorum veniam sequi illo corporis excepturi
      soluta eligendi molestias, et quae dolore odit doloribus? Corrupti
      inventore beatae odio sint reiciendis iusto debitis repellendus magni illo
      officiis error dicta dignissimos laboriosam, tenetur ab impedit,
      consectetur voluptatum omnis quibusdam rem deserunt. Totam expedita
      incidunt quis iste, consequuntur ratione atque blanditiis, eum in
      veritatis non eligendi? Nulla asperiores, esse tempore aliquam libero
      sequi, quibusdam distinctio voluptates, modi dolores vel a? Cumque rem vel
      libero natus distinctio fugiat consectetur aperiam voluptatem placeat
    </p>

    <app-card></app-card>
  </div>

  <p class="footerSection">2 days ago</p>
</section>
